<% layout('layout/boilerplate') %>
   <h1>My Vet Places!</h1>
   <!-- <div>
      <a class="btn btn-secondary" href="/vetplaces/new">Add a Vet place</a>
   </div> -->
   <ul>
      <% for(let v of allVetPlaces) {%>
         <div class="card mb-3">
            <div class="row bg-light">
               <div class="col-md-4">
                  <img class="img-fluid" alt="" srcset="<%= v.image %>">
               </div>
               <div class="col-md-8">
                  <div class="card-body">
                     <h5 class="card-title">
                        <%= v.name %>
                     </h5>
                     <p class="card-text">
                        <%= v.description %>
                     </p>
                     <p class="card-text">
                        <small class="text-muted">
                           Location: <%= v.location %>
                        </small>
                     </p>
                     <a href="/vetplaces/<%= v.id %>">
                        <button class="btn btn-secondary">View</button>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <% } %>
   </ul>